.tile{
    background-color: #EEEEEE;
    width: 100%;
    height: auto;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.tile-title{
    margin-top: 10px;
    font-weight: 700;
}
.btn{
    color: #3D246C;
    background-color: #D0BFFF;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    padding: 5px 5px;
    border: none;
    border-radius: 0px 0px 15px 15px;
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(198, 177, 255);
}